body {
    font-family: Montserrat, Verdana, sans-serif;
    color: #484b50;
    text-align: center;
}

h1 {
    color: #484b50;
    font-weight: bold;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#left-column,
#center-column,
#right-column {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    margin-bottom: 1em;
}

@media (max-width: 600px) {

    #container {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    #left-column,
    #center-column,
    #right-column {
        width: 100;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

input[type="number"] {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
    width: 80%;
    display: flex;
    text-align: center;
}

input[type="checkbox"] {
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 1em;
}

button {
    margin-top: 1em;
    padding: 1em 1.5em;
    font-size: 1em;
    background-color: #fcb900;
    color: #484b50;
    font-weight: bold;
    border: none;
    border-radius: 25px;
}

#result {
    margin-top: 1em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    background-color: #fcb900;
}
