body {
    font-family: Montserrat;
    color: #484b50;
}

h1 {
    color: #484b50;
    font-weight: bold;
}

#app {
    width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  label {
    width: 200px;
    text-align: right;
    margin-right: 20px;
  }
  
  input[type="number"] {
    width: 50px;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fcb900;
    color: #484b50;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  
  #result {
    margin-top: 50px;
    font-size: 20px;
  }
  